<h1><u>Login</u></h1>
<br>
<form action="/users/login" method="POST">
  <p>Email: <input type="text" name="email"></p>
  <p>Password: <input type="text" name="password"></p>
  <input type="submit" value="submit">
</form>
