<h1><u>Sign Up for Cellr</u></h1>
<br>
<form action="/users/show" method="POST">
  <p>Username: <input type="text" name="username"></p>
  <p>Password: <input type="text" name="password"></p>
  <input type="submit" value="submit">
</form>
