<div class="container">
  <header><img src="images/alcohol-barrel-beer-434311.jpg" class="img-fluid main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to Cellr.</h2>

    <div class="content">
      <p>This web app will allow you to track your wine collection.  Simply Sign-up and track your Cellr. </p>
      <a href="/signup"><button type="button" name="button" class="btn btn-secondary">Sign-Up</button></a>
      <button type="button" name="button" class="btn btn-secondary">Login</button>

    </div>

  </div>
</div>
